<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title><%= title %></title>
  </head>
  <body>
    <div id="main-container">
      <div id="profile">
        <!-- <img id="profile-background-image" src="images/profile-background.jpg"/> -->
        <div class="avatar">
          <div><img id="avatarImage" src="images/avatar.jpg"/></div>
          <div id="site-title"><%= title %></div>
          <div id="bio">Stay hunger, stay foolish.</div>
          <div id="social-items">
            <ul type="none">
              <li class="social-item">
                <a href="#"><img src="images/facebook-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/twitter-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/instagram-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/github-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/rss-feed-logo.svg"/></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="right-pane">
        <div id="header">
          <div id="tags">
            <% include ./partials/tags %>
          </div>
          <div id="search-bar">
            <div id="search-box">
              <input></input>
                <a href="#">
                  <img src="images/search-button.png"/>
                </a>
            </div>
          </div>
        </div>
        <div id="article-list">
          <div class="article-list-item"><% include ../public/posts/nodejs-crawler.html %></div>
        </div>
        <div id="footer">
          <% include ./partials/footer %>
        </div>
      </div>
    </div>
  </body>
</html>