<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css"/>
    <link rel="stylesheet" href="stylesheets/article.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div id="main-container">
      <div id="profile">
         <!--<img id="profile-background-image" src="images/profile-background.jpg"/>-->
        <div class="blur"></div>
        <div class="avatar">
          <div><img id="avatarImage" src="images/avatar.jpg"/></div>
          <div id="site-title"><%= title %></div>
          <div id="bio">Stay hunger, stay foolish.</div>
          <div id="social-items">
            <ul type="none">
              <li class="social-item">
                <a href="#"><img src="images/facebook-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/twitter-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/instagram-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/github-logo.svg"/></a></li>
              <li class="social-item">
                <a href="#"><img src="images/rss-feed-logo.svg"/></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="right-pane">
        <div id="header">
          <div id="tags">
            <% include ./partials/tags %>
          </div>
          <div id="search-bar">
            <div id="search-box">
              <input/>
                <a href="#">
                  <img src="images/search-button.png"/>
                </a>
            </div>
          </div>
        </div>
       <div id="article-list">
          <!--<div class="article-list-item"><% include ../public/posts/nodejs-crawler.html %></div>-->
          <div class="new-article-box">
            <div class="new-article">
              <h3>我今天吃了一桶烤肉，味道好极了 &nbsp;<span class="more">>></span></h3>
              <h5>我是一只猪,一只猪</h5>
              <div>　茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
                <p class="lable">swift</p><p class="lable">javascript</p>
              </div>
              <p class="list-item"></p><span class="article-data">2016.6.10 write by wu</span>
            </div>
            <hr class="clear"/>
          </div>
          <div class="new-article-box">
            <div class="new-article">
              <h3>我今天吃了一桶烤肉，味道好极了 &nbsp;<span class="more">>></span></h3>
              <h5>我是一只猪,一只猪</h5>
              <div>　茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
                <p class="lable">swift</p><p class="lable">javascript</p>
              </div>
              <p class="list-item"></p><span class="article-data">2016.6.10 write by wu</span>
            </div>
            <hr class="clear"/>
          </div>
          <div class="new-article-box">
            <div class="new-article">
              <h3>我今天吃了一桶烤肉，味道好极了 &nbsp;<span class="more">>></span></h3>
              <h5>我是一只猪,一只猪</h5>
              <div>　茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境。
                <p class="lable">swift</p><p class="lable">javascript</p>
              </div>
              <p class="list-item"></p><span class="article-data">2016.6.10 write by wu</span>
            </div>
            <hr class="clear"/>
          </div>
          <div class="new-article-box">
            <div class="new-article">
              <h3>我今天吃了一桶烤肉，味道好极了 &nbsp;<span class="more">>></span></h3>
              <h5>我是一只猪,一只猪</h5>
              <div>　茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入。
                <p class="lable">swift</p><p class="lable">javascript</p>
              </div>
              <p class="list-item"></p><span class="article-data">2016.6.10 write by wu</span>
            </div>
            <hr class="clear"/>
          </div>
        </div>
        <div id="articles">
          <img id="backToTop" src="images/backtotop.png" />
          <img id="return" src="images/return.png"/>
          <div id="lable1">
            <p id="year">2016</p>
            <p id="month">六月</p>
            <p id="day">10</p>
          </div>
          <div id="article-title">
            <h3>我今天吃了一桶烤肉，味道好极了</h3>
            <p class="classify">分类：swift、javascript、java</p>
            <span>(120)</span> <img src="images/message.png"/>
            <span>(47974)</span> <img src="images/eyes.png"/>
          </div>
          <div id="article">
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
            茶从离开茶树那一刻起，就期待着与水相逢。水唤醒茶，茶成就水；水包容茶，茶激荡水；茶因水而重生，水因茶而丰润……泡茶如人生，需洽到好处；时间短了，茶没有入味，淡了；时间长了，入味太浓，苦了……茶与水的缘，许是因万年前溪边婆娑的小树，此时才牵手相随；水与茶的份，许是千年前嫩叶上留连的珠露，今朝才倾身相许……味因水觉甘美，心因茶而和宁；茶终于寂静，水终于无音。茶凉时，水静了，水静时，茶清了；时光悠远，世事淡然;有一种情怀，淡香如茶，有一种人生，清澈如水……人生沉浮，如一盏茶水，苦如茶，香亦如茶。淡名，淡利，无争，无夺。一切自然，一切脱俗，一切入幽美邈远的意境，都是人生的淡雅之美。水甘味真，茶清梦好！一杯清茶，一颗静心。
          </div>
          <hr style="border: 1px solid; width: 75%; margin: 0 0 20px 130px;"/>
          <div class="comment">
            <div id="userphoto"></div>
            <div id="uer-message">
              <h3 id="uername">Tom</h3>
              <p id="comment-data">December 6th 2010 at 9.10pm</p>
            </div>
            <div id="user-comment">
              <p>你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
                你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
              </p>
              <span id="replay">回复</span>
              <hr class="hr"/>
            </div>
          </div>
          <div class="comment">
            <div id="userphoto"></div>
            <div id="uer-message">
              <h3 id="uername">Tom</h3>
              <p id="comment-data">December 6th 2010 at 9.10pm</p>
            </div>
            <div id="user-comment">
              <p>你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
                你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
              </p>
              <span id="replay">回复</span>
              <hr class="hr"/>
            </div>
          </div>
          <div class="comment">
            <div id="userphoto"></div>
            <div id="uer-message">
              <h3 id="uername">Tom</h3>
              <p id="comment-data">December 6th 2010 at 9.10pm</p>
            </div>
            <div id="user-comment">
              <p>你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
                你是猪，我是猪，大家都是猪。你一筐，我一筐，一筐烤萝卜。烤萝卜，煮萝卜，全都不好吃，扔萝卜，摔萝卜，我不吃萝卜。
              </p>
              <span id="replay">回复</span>
              <hr class="hr"/>
            </div>
          </div>
        </div>
        <div id="footer">
          <% include ./partials/footer %>
        </div>
      </div>
    </div>
  </body>
</html>

<script language="javascript"  type="text/javascript">
  $(document).ready(function() {
    $("#backToTop").hide();
    $('#right-pane').scroll(function () {
      if ($('#right-pane').scrollTop() > 100) {
        $("#backToTop").fadeIn(500);
      } else {
        $("#backToTop").fadeOut(500);
      }
    });
    $("#backToTop").click(function () {
      $('#right-pane').animate({scrollTop: 0}, 300);
      return false;
    });
  });
</script>