html {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background-color: #feffff;
}
@media screen and (max-width: 810px) {
  #main-container { overflow: scroll; }
  #profile { width: 100%; height: 200px;}
  #profile-background-image {width: 100%; height: 200px; }
  #social-items { display: none;}
  #right-pane { margin-left: 0px;}
  #tags {display: none}
}

@media screen and (min-width: 810px) {
  #profile { width: 300px; height: 100%; float: left; position: absolute;}
  #profile-background-image { width: 100%; height: 100%;}
  #social-items ul { height: 24px;}
  #social-items img { height: 24px;}
  #right-pane { margin-left: 300px; overflow: scroll;}
  #tags {display: flex;}
}

#profile {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/profile-background.jpg');
  background-size: cover;
}
#profile-background-image {
  opacity: 0.618;
}
.avatar {
  z-index: 1;
  width: 100%;
  height: 320px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#avatarImage {
  width:80px;
  height:80px;
  border-radius:40px;
}
#site-title {
  font-size: 1.5em;
  color: white;

}
#bio {
  font-size: 1em;
  color: white;

}
#social-items {
  width: 160px;
  height: auto;
}
#social-items ul {
  width: 160px;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
#social-items .social-item {
  display: inline;
  padding: 0;
}
#social-items .social-item img {
  width: 24px;
}
#main-container {
  height: 100%;
}
#right-pane {
  height: 100%;
}
#header {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #e2e2e2;
}
#tags {
  height: 100%;
  float: left;

  flex-direction: row;
  align-items: center;
}
#tags div {
  width: auto;
  height: 20px;
  display: inline;
  margin-left: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  background: white;
  padding: 6px;
}
#tags a{
  text-decoration: none;
  color: #afcff0;
}
#search-bar {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 48px;
  float: right;
}
#search-box {
  width: 120px;
  height: 32px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #e2e2e2;
  background: #fff;
}
#search-box input {
  width: 72px;
  height: 24px;
  border-width: 0;
  padding: 0;
  font-size: 1em;
  border-style: none;
  outline-width: 0;
}
#search-box a {
  padding-right: 8px;
  width: 24px;
  height: 24px;
}
#search-box img {
  width: 24px;
  height: 24px;
}
#article-list {
  /*height: 100%;*/
  min-height: 88%;
  /*background-color: white;*/
}
#footer {
  width: 100%;
  height: 64px;
  display: flex;
}
.article-list-item {
  width: 100;
  height: 200px;
}
